:root {
  --main-background: #273043;
  --main-color: #9197AE;
  --main-contrast: #EFF6EE;
  --secondary-contrast: #84894A;
  --highlight: #F45B69;

  --headings: 'ABeeZee', sans-serif;
  --main-type: 'Libre Baskerville', serif;
}

