@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Libre+Baskerville:wght@400;700&display=swap');
:root {
  --main-background: #273043;
  --main-color: #9197AE;
  --main-contrast: #EFF6EE;
  --secondary-contrast: #84894A;
  --highlight: #F45B69;

  --headings: 'ABeeZee', sans-serif;
  --main-type: 'Libre Baskerville', serif;
}

/* Page-wide*/
body {
  background-color: var(--main-background);
  margin: 1.5em;
}

h1, h2, h3 {
  font-family: var(--headings);
}

h1 {
  font-size: 3em;
  color: var(--secondary-contrast);
  text-align: center;
}

h2 {
  font-size: 2.5em;
  color: var(--main-color);
  text-align: center;
}
h3 {
  font-size: 1.5em;
  color: var(--secondary-contrast);
}

p{
  font-family: var(--main-type);
  padding: 2em;
}

/* header */
header {
  text-align: center;
}

p {
  font-family: var(--main-type);
  color: var(--secondary-contrast);
}
/* Navigation */
.Button:hover, .Button:focus, .selected {
  background-color: var(--secondary-contrast);
  color: var(--secondary-contrast);
}


/* About page */
.aboutMain {
  display: flex;
}
/* Portfolio page */
.projects {
  background-color: var(--main-color);
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.projects img {
  max-width: 25em;
}
.projects h3 {
  color: var(--main-background)
}
.project {
  text-align: center;
}


/* footer */
.footer {
  text-align: center;
}

.footer nav img {
  max-width: 3em;
  padding: 1em;
}
