@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Libre+Baskerville:wght@400;700&display=swap');
:root {
  --main-background: #273043;
  --main-color: #9197AE;
  --main-contrast: #EFF6EE;
  --secondary-contrast: #84894A;
  --highlight: #F45B69;

  --headings: 'ABeeZee', sans-serif;
  --main-type: 'Libre Baskerville', serif;
}

/* Page-wide*/
body {
  background-color: var(--main-background);
  margin: 1.5em;
}

h1, h2, h3 {
  font-family: var(--headings);
}

h1 {
  font-size: 3em;
  color: var(--secondary-contrast);
  text-align: center;
}

h2 {
  font-size: 2.5em;
  color: var(--main-color);
  text-align: center;
}
h3 {
  font-size: 2em;
  color: var(--secondary-contrast);
}
h4 {
  font-size: 1.5em;
  font-family: var(--main-type);
}
p {
  font-family: var(--main-type);
  color: var(--secondary-contrast);
  padding: 2em;
  line-height: 24pt;
}
button {
  margin: 0 1em 0 1em;
}

/* header */
header {
  text-align: center;
}

/* Navigation */
.navigation .button, .selected {
  background-color: var(--main-color);
  border: none;
  padding: .5em;
  border-radius: .5em;
}

.selected,
.navigation .button:hover,
.navigation .button:focus
{
  background-color: var(--secondary-contrast);
}

/* About page */
.aboutMain {
  display: flex;
}
/* Portfolio page */
.projects {
  background-color: var(--main-color);
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.projects img {
  max-width: 25em;
}
.projects h3 {
  color: var(--main-background)
}
.project {
  text-align: center;
}

/* Contact page  */
.contactForm {
  background-color: var(--main-color);
  padding: 1em;
  margin: 1em;
}
input, textarea {
  width: 98%;
  padding: .5em;
  margin: .5em;
  border-radius: .5em;
  font-family: var(--main-type);
}
 

/* resume page */
.resume {
  text-align: center;
}
.resume a {
  text-decoration: none;
}
.resume .button {
  background-color: var(--main-color);
  color: var(--main-background);
  padding: .5em;
  border-radius: .5em;
}
.button:hover {
  background-color: var(--secondary-contrast);
}
.proficiencies {
  background-color: var(--main-color);
  color: var(--main-background);
  display: flex;
  justify-content: space-evenly;
  margin: 0 10em 2em 10em;
  padding-bottom: 1em;
  
}
.frontEnd, .backEnd {
  text-align: center;
}
/* footer */
.footer {
  text-align: center;
  margin: 2em;
}

.footer nav img {
  max-width: 3em;
  padding: 1em;
}
